.body{
   background-color: rgb(224, 165, 161);
    margin-left: -13px;
}
.fundo{
    background-color: rgb(97, 94, 94);
}
.logo{
    width: 1935px;
    height: 198px;
    opacity: 0.5;
    margin-left: -13px;
    margin-top: 0px;
}
.image-container {
    position: relative;
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 72px;
    font-weight:bold;
    font-family:serif;
}
.banner{
    padding-left: 671px;
    background-color: white;
}
p{
    margin-left: 40px;
    margin-top: 50px;
}
.h{
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-right: 30px;
}
.s{
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 40px;
}
.f{
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 40px;
}
.c{
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 40px;
}
.q1{
    display: flex;
}
.img1{
    width: 350px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 20px;
}
.img2{
    width: 349px;
    height: 478px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 20px;
}
.img3{
    width: 822px;
    height: 320px;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute; 
	left: 488px;
	top: 571px;
    border-radius: 20px;
}
.u{
    position: absolute; 
	left: 377px;
	top: 884px;
}
p{
    font-size: larger;
}
.rodape{
    background-color: rgb(105, 102, 102);
   width: 1935px;
   height: 305px;
   margin-top: 478px;
   display: flex;
}
.w{
    margin-top: 83px;
    margin-left: -80px;
    width: 50px;
}
.i{
    margin-top: 83px;
    width: 50px;
    margin-left: -25px;
}
.h1{
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-right: 30px;
    display: flex;
}
.s2{
    font-size: 25px;
    margin-left: 50px;
}
.l1{
    position: absolute; 
	left:639px;
	top: 1310px;
}
.l2{
    position: absolute; 
	left: 639px;
	top:1268px;
}
.t1{
    position: absolute;
    left: 636px;
	top: 1327px;
}
.t2{
    position: absolute;
    left: 636px;
	top: 1289px;
}
.t11{
    position: absolute;
    left: 553px;
	top: 1159px;
}
.t22{
    position: absolute;
    left: 556px;
	top: 1202px;
}
.ll1{
    position: absolute;
    left: 558px;
	top: 1185px;
}
.ll2{
    position: absolute;
    left: 558px;
	top: 1140px;
}
img{
    width: 284px;
    margin-left: 43px;
}
.text{
    position: absolute; 
	left: 313px;
	top: 459px;
}
.but{
    margin-left: 50px;
}
img{
    margin-top: 50px;
}
.mar{
    position: absolute;
    left: 1775px;
	top: 774px;
    width: 410px;
}
.fam{
    width: 295px;
}
.gat{
    width: 257px;
}
.mari{
    width: 294px;
}
.eu{
    width: 210px;
	    top: 774px;
}
.ll22{
    position: absolute;
    left: 558px;
	top: 1412px;
}
.t222{
    position: absolute;
    left: 560px;
	top: 1432px;
}
.ll11{
    position: absolute;
    left: 558px;
	top: 1464px;
}
.t111{
    position: absolute;
    left: 560px;
	top: 1480px;
}
.logoo{
    width: 1935px;
    height: 198px;
    opacity: 0.5;
    margin-left: -13px;
    margin-top: 0px;
}
.image-containerr {
    position: relative;
}
.image-textt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 72px;
    font-weight:bold;
    font-family:serif;
}
.lll22{
    position: absolute;
    left: 558px;
	top: 730px;
}
.tt222{
    position: absolute;
    left: 561px;
	top:796px;
}
.lll11{
    position: absolute;
    left: 558px;
	top: 775px;
}
.tt111{
    position: absolute;
    left: 561px;
	top: 749px;
}
.formulario{
    margin-top: 58px;
}
.nome{
   font-size: x-large;
}

.sob{
    font-size: x-large;
}
.tel{
    font-size: x-large;
}

.end{
    font-size: x-large;
}

button{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
}
input{
border-radius: 20px;
}
